<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<p id="author">
  <b>By:</b>
  <%= @post.author.email %>
</p>


<% if policy(@post).destroy? %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>

<%= render "layouts/commentshow" %>
<%= render "layouts/comment" %>
