<h3> Comments: </h3>
<% @post.comments.each do |comment| %>
  <table>
    <% if comment.approved? || (current_user &&current_user.editor?) %>
    <tr>
      <td>By: <%= comment.author %></td>
    </tr>
    <tr>
      <td>Email: <%= comment.author_email %></td>
    </tr>
    <tr>
      <td>Content: <%= comment.content %></td>
    </tr>
    <% end %>
    <% if current_user && current_user.editor? %>
     <tr>
      <% if comment.approved? %>
        <td><%= button_to 'Delete', post_comment_path(@post, comment), method: :delete %></td>
      <% else %>
        <td><%= button_to 'Approve', post_comment_path(@post, comment, comment: {approved: true}), method: :put %> </td>
      <% end %>
    <% end %>
  </table><br>
<% end %>


