<!DOCTYPE html>
<html>
<head>
  <title>Andre's Portfolio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
      <%= link_to image_tag("sum_full.png", alt: "Logo", class: 'img-responsive logo'), root_path %>

      <%= link_to image_tag("cf.png", alt:"code_fellows", class: 'img-responsive logo') %>
  </header>
  <div class="container" style="padding: 0px;">
  <div class="sidebar col-sm-2">
    <nav class="navbar"role="navigation">
      <div class = "container">
        <div class="navbar-header">
          <div class="collapse-button">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="glyphicon glyphicon-chevron-left rotate1"></span>
            </button>
          </div>
      </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if current_page?(posts_path)%>"><%= link_to "Home", root_path, class:"nav-link"%></li>
          <li class="<%= 'active' if current_page?(posts_path)%>"><%= link_to "Blog", posts_path, class:"nav-link"%></li>
        </ul>
      </div>
      </div>
  </nav>
  </div>
  <div class="col-lg-10">
      <%= yield %>
  </div>
</div> <!--end of body-->

<script>
$('.navbar-toggle').on('click', function(e){
            $('.glyphicon').toggleClass('rotate1 rotate2');
});
</script>

<script>
  $(document).ready(function () {
        $('ul.nav > li').click(function (e) {
            $('ul.nav > li').removeClass('active');
            $(this).addClass('active');
        });
    });
  </script>
</body>
</html>
