<!DOCTYPE html>
<html>
<head>
  <title>Andre's Portfolio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
  <body>
    <%= render "layouts/nav" %>

    <div class= "container">
      <div class="col-xs-12 col-sm-7 col-sm-offset-1 col-md-7 col-md-offset-1 col-lg-7 col-lg-offset-1 page-text">
        <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
        <%= value %>
        </div>
        <% end %>
        <%= yield %>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 social">
        <%= render "layouts/contentR" %>
      </div>
    </div>
    <script>
      $('.navbar-toggle').on('click', function(e){
            $('.glyphicon').toggleClass('rotate1 rotate2');
        });
    </script>

    <script>
      $(document).ready(function () {
        $('ul.nav > li').click(function (e) {
          $('ul.nav > li').removeClass('active');
          $(this).addClass('active');
        });
      });
    </script>
  </body>
</html>
